* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to bottom, #00bcd4, #1a237e);
  display: flex;
  justify-content: center;
  padding: 40px 16px;
  min-height: 100vh;
}

.card {
  background: transparent;
  padding: 24px;
  width: 100%;
  max-width: 900px;
}

h1 {
  text-align: center;
  color: #4338ca;
  font-size: 2.5rem;
  margin-bottom: 24px;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

input[type="text"],
input[type="date"] {
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: white;
}

button {
  padding: 12px 20px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #4338ca;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
  background: white;
  padding: 14px 20px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.checkbox-tugas {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #4f46e5;
  flex-shrink: 0;
}

.teks-tugas {
  flex: 1;
  font-size: 15px;
  color: #1e293b;
}

.tanggal {
  font-size: 13px;
  color: #64748b;
  flex-shrink: 0;
}

.badge-status {
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  flex-shrink: 0;
}

.badge-status.onprogress {
  background: #f59e0b;
}

.badge-status.done {
  background: #22c55e;
}

.tombol-group {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  margin-left: auto;
}

.edit {
  background: #4f46e5;
}

.edit:hover {
  background: #4338ca;
}

.hapus {
  background: #ef4444;
}

.hapus:hover {
  background: #dc2626;
}

@media (max-width: 480px) {
  .form {
    flex-direction: column;
  }

  li {
    flex-wrap: wrap;
  }

  .tombol-group {
    margin-left: 0;
  }
}
